<!DOCTYPE html>

<!--------------------------------------------------------------------------------------------->
<div class="w3-top">
  <div class="w3-light-grey w3-card w3-left-align w3-medium">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-purple w3-medium" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <a href="/" class="fa fa-home w3-bar-item w3-button w3-padding-large w3-pink"></a>

    <a href="/login/" class="w3-bar-item w3-button w3-hide-small w3-right w3-text-black"><i class=""></i>Login</b></a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
  </div>
</div>

<!--------------------------------------------------------------------------------------------->
