<!-- Playfair, Margarine, Caveat, Alegreya, Acme, Cormorant, Gelasio, Alice, Petrona   Monoton-->
<!--  ***Rajdhani, ***Play, ***Vollkorn, **Merienda -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Petrona"> -->

<!--------------------------------------------------------------------------------------------->
<head>
	<title>OBOTR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	
	
	<!-- Wittgenstein, Bitter, Satisfy, Merienda -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Wittgenstein">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merienda">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Wittgenstein", sans-serif}
	.w3-bar,h1,button {font-family: "Merienda", sans-serif}
	.fa-anchor,.fa-coffee {font-size:200px}
	
	
	header{
		  background-image: url('../static/img/books-on-grass-2.jpg');
		   background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover; /*100% 100%;
		}
	</style>
</head>
<!--------------------------------------------------------------------------------------------->
