<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------------------------------------------------->
<head>
	<title>OBOTR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	
	
	<!-- Wittgenstein, Bitter, Satisfy, Merienda -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Wittgenstein">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merienda">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Wittgenstein", sans-serif}
	.w3-bar,h1,button {font-family: "Merienda", sans-serif}
	.fa-anchor,.fa-coffee {font-size:200px}
	
	
	header{
		  background-image: url('../static/img/books-on-grass-2.jpg');
		   background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover; /*100% 100%;
		}
	</style>
</head>
<!--------------------------------------------------------------------------------------------->


<body>


<!--------------------------------------------------------------------------------------------->
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-light-grey w3-card w3-left-align w3-medium">
    
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-purple w3-medium" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
     <a href="/search?uid={{user.hash}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-pink w3-hover-white" title="home"><i class="fa fa-home"></i></a>
  
  <a href="/acc?uid={{user.hash}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-globe"></i></a>
  
   <a href="/contact?uid={{user.hash}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-envelope"></i></a>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-purple">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
    
    
   <a href="/logout/" class="w3-bar-item w3-button w3-hide-small w3-right  w3-hover-white w3-text-black"><i class=""></i>Logout</b></a>

    <!--<a href="/contact?uid={{user.hash}}" class="w3-bar-item w3-button w3-hide-small w3-right  w3-hover-white w3-text-black"><i class=""></i>Contact</b></a>-->
  </div>
  

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/search?uid={{user.hash}}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="/acc?uid={{user.hash}}" class="w3-bar-item w3-button w3-padding-large">Account</a>
    <a href="/contact?uid={{user.hash}}" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    <a href="/logout/" class="w3-bar-item w3-button w3-padding-large">Logout</a>
  </div>
</div>
<!--------------------------------------------------------------------------------------------->



<!------------------------------------------------------------------------>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
  <div class="w3-row">
    <div class="w3-col m3">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">Me, Myself and I</h4>
         <p class="w3-center"><img src="../static/img/redpanda.jpg" class="w3-circle" style="height:106px;width:106px" alt="photo-user"></p>
         <hr>
         <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme w3-purple"></i> {{user.username}}<a href="/acc/user?uid={{user.hash}}" class=" w3-button w3-circle fa fa-pencil" style="size:50%"></a></p>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme w3-purple"></i>{{user.email}}<a href="/acc/email?uid={{user.hash}}" class=" w3-button w3-circle fa fa-pencil" style="size:50%"></a></p>
         <p><i class="fa fa-eye fa-fw w3-margin-right w3-text-theme w3-purple"></i>Change your password !<a href="/acc/password?uid={{user.hash}}" class=" w3-button w3-circle fa fa-pencil" style="size:50%"></a></p>
        </div>
      </div>
      <br>
      
     
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="../static/img/redpanda.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
      
    
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      
      
    </div>
    
  
  
    <div class="w3-col m7"> <!-- (close favorites) --->
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
            <!--<span class="w3-right w3-tag w3-purple w3-round w3-medium">km</span>-->
              <h6 class="w3-opacity">One Book On The Road</h6>
              <p>Choose your favorite places !</p>
            </div>
          </div>
        </div>
      </div>
      
      {% for obj in user.favorites %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!--<span class="w3-right w3-tag w3-purple w3-round w3-medium">km</span>--->
        <!--<span class="w3-right w3-opacity">1 min</span>-->
        <!--<h4>John Doe</h4>--><br>
        <hr class="w3-clear">
        <p>{{obj.Address}}</p>
       
       
       <form action="dislike?uid={{user.hash}}&id={{obj.Hash}}" enctype="multipart/form-data" method="post">
        <button class="w3-left w3-button w3-margin-bottom w3-small"><i class="fa fa-thumbs-up"></i>Don't like it anymore !</button> 
        </form>
        
         <form action="place?uid={{user.hash}}&id={{obj.Hash}}" enctype="multipart/form-data" method="post">
        <button class="w3-right w3-button w3-margin-bottom w3-small w3-dark-grey">Let's see ! >></button> 
        </form>
      </div>
     {% endfor %}  
          
    </div> <!-- (close favorites) --->
    
    
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <!--<p>Upcoming Events:</p>-->
          <!--<img src="../static/img/photomania-1.jpg" alt="Forest" style="width:100%;">-->
          <p><strong>Manage your requests !</strong></p>
          <p>Friday 15:00</p>
          <!---<p><button class="w3-button w3-block w3-theme-l4">Info</button></p>-->
        </div>
      </div>
      <br>
      
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Close Request ?</p>
          <!--<img src="../static/img/dino1.jpeg" alt="Avatar" style="width:50%"><br>-->
          <h5>This is my request !</h5>
          <span>Close request ?</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
     
     
  </div>
  

</div>
<br>



<!------------------------------------------------------------------------>

 
<!--------------------------------------------------------------------------------------------->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
<!--------------------------------------------------------------------------------------------->



</body>
</html>
