<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>XPlode</title>

	<link rel="stylesheet" href="../static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Permanent Marker", sans-serif}
		.w3-bar-block .w3-bar-item {padding:20px}

		body{
	           background-image: url('../static/img/fun7.jpeg');
		   background-repeat: no-repeat;
		   background-attachment: fixed;
		   background-size: cover; /*100% 100%;*/
		} 
	</style>
</head>
<body>

	       <!-- Navbar -->
		<div class="w3-top">
		  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
		    	<button class="w3-button w3-padding-large w3-white" onclick="loader()" id="home" type="submit" height=15px>XPlode</button>
		    	<!--<a href="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-text-black"><i class=""></i>Login</b></a>-->
		  </div>
		</div>

		<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
		
			<header class="w3-container w3-center w3-padding-32" id="header"> 
			  	<h1 class="w3-text-white" id="Title" size="125px"><b>XPlode</b></h1>
			  
			  
				   <div class="w3-row w3-section " id="filters">		      
				       <div class="w3-rest" align = "center">
						     <button class="w3-button w3-black w3-hover-black w3-text-purple"  onclick="filter()" style="height:35px;width:95px"><strong>Search</strong></button>
						    <span class="w3-text-white">From</span>
						    <input type="date" class="w3-black w3-text-white" id="dateFrom" name="dateFrom" style="border:0;outline:0;height:23px;width:125px"> 
						    <span class="w3-text-white">To</span>
						    <input type="date" class="w3-black w3-text-white" id="dateTo" name="dateTo" style="border:0;outline:0;height:23px;width:125px">
						    <span class="w3-text-white">.</span>				   
				    	</div>			 
				   </div>
			</header>
			
			
			<div class="w3-row-padding w3-padding-16 w3-center" id="Nasa">
				<ul class="w3-text-white" id="menu-astro"></ul>
			</div>	
			
		</div>
		
	 	 <!-- Footer -->
		  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
		 	<p class="w3-text-white">Powered by <a href="https://github.com/kkf017" target="_blank">@myself</a></p>
		   </footer>

	</body>
	
	<!--<script src="/home/kkf/Repositories/FastAPI2/template/react.js" type="text/javascript"></script>-->
	
	<script>
	
		var req = new XMLHttpRequest();
		var url = "https://api.nasa.gov/planetary/apod?api_key=";
		var api_key = "pTeCTuKyjgeJie7BkwIuFnTunwuCBXGO3p1Ur6Zp";
		var N = 12;
		
		var response = [];
		
		req.open("GET", url + api_key +"&count=" + N);
		req.send();

		req.addEventListener("load", function(){
			if(req.status == 200 && req.readyState == 4){
			  	response = JSON.parse(req.responseText);
			  	loader(response);
		  }
		})


		function loader(){
			const div = document.getElementById('menu-astro');
			div.innerHTML = '';
			
			document.getElementById('Title').innerHTML = 'XPlode';
			document.getElementById('filters').innerHTML = `<div class="w3-rest" align = "center">
									     <button class="w3-button w3-black w3-hover-black w3-text-purple"  onclick="filter()" style="height:35px;width:95px"><strong>Search</strong></button>
									    <span class="w3-text-white">From</span>
									    <input type="date" class="w3-black w3-text-white" id="dateFrom" name="dateFrom" style="border:0;outline:0;height:23px;width:125px"> 
									    <span class="w3-text-white">To</span>
									    <input type="date" class="w3-black w3-text-white" id="dateTo" name="dateTo" style="border:0;outline:0;height:23px;width:125px">
									    <span class="w3-text-white">.</span>				   
				    					</div>`;
			
			
		  	for (i = 0; i < response.length; i++){
			    div.innerHTML +=  `<div class="w3-quarter">
			   	 			<button class="w3-button w3-padding-large w3-white w3-border" onclick="see(this.id)" id="${response[i].title}" type="submit" height=25px>
			   	 			<img src="${response[i].url}" alt="img2" width="175" height="175">
			   	 				
			   	 				<p class="w3-text-green" style="font-size: 7px">${response[i].title}</p>
			      				</button>
			       			<p></p>
			    		    </div>`;
			}
		}
		
		function see(id){			
			for (i = 0; i < response.length; ++i){
				if(response[i].title == id){
					break
				}
			}
			
			document.getElementById('Title').innerHTML = response[i].title;
			document.getElementById('filters').innerHTML = ``;
			
			
			const div = document.getElementById('menu-astro');
			div.innerHTML = `<!-- Start Content -->
					<ul class="w3-text-white" id="menu-astro">
					<div class="w3-row w3-padding-64" id="about">
					    <div class="w3-col m6 w3-padding-large w3-hide-small">
					     <img src="${response[i].url}" class="w3-round w3-image w3-opacity-min" alt="Table Setting"> <!-- width="600" height="750">-->
					     
					    </div>

					    <div class="w3-col m6 w3-padding-large">
					      <h1 class="w3-center w3-text-green">About it !</h1><br>
					      <p class="w3-large w3-text-purple">${response[i].date}</p>
					      <p class="w3-large w3-text-white">${response[i].explanation}</p>
					      <p class="w3-large w3-text-grey w3-hide-medium w3-text-white">Copyright © ${response[i].copyright}. All Rights Reserved. </p>
					      
					       <p class="w3-text-blue">Reference <a href=${response[i].url} target="_blank">${response[i].url}</a>.</p>
					    </div>
					  </div>
					  </ul>
					  <!-- End Content -->`;
					 
		}
		
		function filter(){
			var dateFrom = document.getElementById('dateFrom').value.split('-');
			var dateTo = document.getElementById('dateTo').value.split('-');
			
			dateFrom = (document.getElementById('dateFrom').value === "") ? null :new Date(dateFrom[0], dateFrom[1] - 1, dateFrom[2]);
			
			dateTo = (document.getElementById('dateTo').value === "") ? null :new Date(dateTo[0], dateTo[1] - 1, dateTo[2]);
			const div = document.getElementById('menu-astro');
			div.innerHTML = '';
			
			const title = document.getElementById('Title');
			document.getElementById('Title').innerHTML = 'XPlode';
			
		  	for (i = 0; i < response.length; i++){
		  		var date = response[i].date.split('-');
		  		date = new Date(date[0], date[1] - 1, date[2]);
		  		
		  	
		  		if((dateTo === null && !(dateFrom === null) && dateFrom <= date) || (dateFrom === null && dateTo != null && date <= dateTo) || (dateTo != null && dateFrom != null && dateFrom<= date && date <= dateTo)){
				    div.innerHTML +=  `<div class="w3-quarter">
				   	 			<button class="w3-button w3-padding-large w3-white w3-border" onclick="see(this.id)" id="${response[i].title}" type="submit" height=25px>
				   	 			<img src="${response[i].url}" alt="img2" width="175" height="175">
				   	 				
				   	 				<p class="w3-text-green" style="font-size: 7px">${response[i].title}</p>
				      				</button>
				       			<p></p>
				    		    </div>`;
			  	}
			}
		}		
	
	</script>

</html> 
